<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">
        <!-- Global CSS -->
        <link rel="stylesheet" href="../styles/styles.css">
        <link rel="stylesheet" href="../styles/nav/index.css">
        
        <!-- Partners page -->
        <link rel="stylesheet" href="../styles/pages/help/help.css">
        <title>Nuestros Socios</title>
    </head>
<body>
     <!-- NavBar -->
    <nav class="nav">
        <a href="/sstec/index.html">
            <div class="nav_logo">
    
                <img src="../assets/logo.png" alt="Ana Cristina Juárez Diez Marina I.A.P." href="/sstec/index.html">
            </div>
        </a>
        <div class="nav_hamburger_container">
            <div class="nav_hamburger">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <div class="nav_links">
            <a class="nav_link" href="autismo.html">
                ¿Qué es autismo?
            </a>
            <a class="nav_link" href="informacion.html">
                Información
            </a>
            <a class="nav_link" href="work.html">
                Nuestro trabajo
            </a>
            <a class="nav_link" href="partners.html">
                Nuestros socios
            </a>
            <a class="nav_link" href="help.html">
                Cómo puedes ayudarnos
            </a>
        </div>
    </nav>
     <!-- Partners page -->
    <main class="partners_main">
        <section>
        <header class="partners_header">
            <div class="partners_header_back">
            </div>
            <div class="partners_header_left">
                <h1>¿Cómo puedes contribuir con nosotros?</h1>
                <hr class="hr_help" />
                <h2>Contribuye al programa en apoyo a personas con autismo</h2>
            </div>
            <div class="partners_header_right">
                <img src="../assets/help/img1.png" alt="">
            </div>
        </header>
        <footer class="help_footer">
            <h2>Somos una institución sin fines de lucro y estamos formados mayormente por padres de familia quienes buscamos que todos los niños con autismo tengan la oportunidad de crecer y aprender y sobre todo de lograr una vida los más independiente Puedes becar a un niño, asumiendo el pago parcial o total de su aportación.</h2>
        </footer>
        </section>
        <section>
            <header class="help_partner_p2">
                <div class="wrapper">
                    <div class="column column-1">
                      <p>Nos puedes apoyar dando donaciones económicas o en especie para la adquisición de materiales didácticos, inmobiliario, materiales de papelería y de operación.
                    </p>
                    </div>
                    
                    <div class="column column-2">
                      <p>Ayudarnos a financiar programas de capacitación para nuestro personal.
                        Financiar tratamiento o consultas medicas complementarias de nuestro alumnado.</p>
                    </div>
                    
                    <div class="column column-3">
                      <p>
                        Unirte como voluntario comprometido con nuestra causa.
                        Apoyar en eventos de recaudación de fondos.
                        </p>
                    </div>
            </header>
            <body>
                    <div class="clearfix"></div>
                  </div>
                  <footer>
                <div class="footer">
                <img src="/sstec/assets/help/img2.jpg" alt="Footer Image">
              </div>
            </body>
        </section>
    </main>
</body>
</html>