<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">
        <!-- Global CSS -->
        <link rel="stylesheet" href="../styles/styles.css">
        <link rel="stylesheet" href="../styles/nav/index.css">
        
        <!-- Partners page -->
        <link rel="stylesheet" href="../styles/pages/partners/index.css">
        <title>Nuestros Socios</title>
    </head>
<body>
     <!-- NavBar -->
    <nav class="nav">
        <div class="nav_logo">
            <img src="../assets/logo.png" alt="Ana Cristina Juárez Diez Marina I.A.P.">
        </div>
        <div class="nav_hamburger_container">
            <div class="nav_hamburger">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <div class="nav_links">
            <a class="nav_link" href="autismo.html">
                ¿Qué es autismo?
            </a>
            <a class="nav_link" href="informacion.html">
                Información
            </a>
            <a class="nav_link" href="nuestro-trabajo.html">
                Nuestro trabajo
            </a>
            <a class="nav_link" href="ayuda.html">
                ¿Cómo puedes ayudarnos?
            </a>
        </div>
    </nav>
     <!-- Partners page -->
    <main class="partners_main">
        <header class="partners_header">
            <div class="partners_header_back">
            </div>
            <div class="partners_header_left">
                <h1>Nuestros Socios</h1>
                <p>Somos una Institución que subsiste de donativos, tanto de particulares como de organismos gubernamentales y privados. También nos beneficiamos del trabajo de estudiantes universitarios que dan su tiempo gratuitamente como practicantes y voluntarios.</p>
            </div>
            <div class="partners_header_right">
                <img src="../assets/partners/partners.png" alt="">
            </div>
        </header>
        <footer></footer>
    </main>
</body>
</html>