<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">
        <!-- Global CSS -->
        <link rel="stylesheet" href="../styles/styles.css">
        <link rel="stylesheet" href="../styles/nav/index.css">
        
        <!-- Partners page -->
        <link rel="stylesheet" href="../styles/pages/work/work.css">
        <title>Nuestro Trabajo</title>
    </head>
<body>
    <nav class="nav">
        <a href="/sstec/index.html">
            <div class="nav_logo">
    
                <img src="../assets/logo.png" alt="Ana Cristina Juárez Diez Marina I.A.P." href="/sstec/index.html">
            </div>
        </a>
        <div class="nav_hamburger_container">
            <div class="nav_hamburger">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <div class="nav_links">
            <a class="nav_link" href="autismo.html">
                ¿Qué es autismo?
            </a>
            <a class="nav_link" href="informacion.html">
                Información
            </a>
            <a class="nav_link" href="work.html">
                Nuestro trabajo
            </a>
            <a class="nav_link" href="partners.html">
                Nuestros socios
            </a>
            <a class="nav_link" href="help.html">
                Cómo puedes ayudarnos
            </a>
        </div>
    </nav>
    <main class="work_main">
        <header class="work_header">
            <div class="work_header_back">
            </div>
            <div class="work_header_left">
                <h1>Lo que hacemos</h1>
                <p>En la Institución Ana Cristina Juárez Diez Marina I.A.P. nos dedicamos a la atención de niños y jóvenes con Autismo en la ciudad de Querétaro. Dentro de nuestro centro, ubicado en Lomas del Pasteur, ofrecemos terapias especializadas, las cuales se imparten en un horario escolarizado. El principal objetivo de nuestra institución es desarrollar en los niños con Autismo habilidades y comportamientos que les permitan incrementar su calidad de vida. Al mismo tiempo, es nuestro objetivo mejorar la convivencia de nuestros niños con su familia, con su entorno, así como con la sociedad en general.</p>
                <h2>Misión</h2>
                <p>Somos una institución de asistencia privada en Querétaro con un equipo multidisciplinario que realiza acciones a favor de personas con autismo para promover la inclusión social y calidad de vida.</p>
                <h2>Visión</h2>
                <p>Ser una Institución pionera y líder a nivel nacional en modelos de atención para persona con espectro Autista.</p>
            </div>
            <div class="work_header_right">
                <img src="../assets/work/work.png" alt="nuestro-trabajo">
            </div>
        </header>
    </main>
</body>
</html>