body{
    height: 100vh;
}

@media only screen and (min-width: 768px) {
    .work_main {
        position: relative;
    }
    
    .work_header {
        height: 90vh;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 60px;
    }
    
    .work_header_back {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        background: linear-gradient(90.08deg, #4C9DA7 0.07%, #8CD170 100.95%);
        width: 100%;
        height: 100%;
    }
    
    .work_header_left,
    .work_header_right {
        height: 80%;
        width: 45%;
    }
    
    .work_header_left {
        display: flex;
        flex-direction: column;    
        color: #FFF;
        gap: 10px;
        margin-left: 2%;
    }
    
    .work_header_left > h1 {
        margin: 0;
        padding: 0;
        font-size: 3rem;
    
    }
    
    .work_header_left > h2 {
        margin: 0;
        padding: 0;
        font-size: 2rem;
    }
    
    .work_header_left > p {
        text-align: justify;
        color: black;
    }
    
    
    .work_header_right > img {
        width: 80%;
        border-radius: 10px;
    }
    
    .work_header_right {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* media query for phones */

@media only screen and (max-width: 768px   ) {
    .work_main {
        position: relative;
        height: inherit;
    }
    
    .work_header {
        height: inherit;
        width: 100%;
        display: flex;
        justify-content: start;
        flex-direction: column;
        padding-left: 12px;
        padding-right: 12px;
    }
    
    .work_header_back {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        background: linear-gradient(90.08deg, #4C9DA7 0.07%, #8CD170 100.95%);
        width: 100%;
        height: 100%;
    }

    h1,h2{
        color: #FFF;
    }

    h1{
        font-size: 1.5rem;
    }

    h2{
        font-size: 1.2rem;
    }

    p{
        font-size: 0.8rem;
        
     text-align: justify;
    }

    .work_header_right{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img{
        width: 80%;
        border-radius: 10px;
    }


}